.movie-catalog {
    display:inline-flex;
    justify-content: center !important;
    margin-top: 25px;
    margin-left: 40px;
  
    .ant-card-cover {
      img {
        height: 300px !important;
      }
    }
  
    .ant-card-meta-title {
      text-align: center !important;
    }
  }